.homeAll {
    background-image: url('../../assets/Background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .homeContainer {
    text-align: center;
    padding: 10px;
  }
  
  .dogsContainer {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap: 1px;
    justify-items: center;
    align-items: start;
    margin-bottom: 20px;
  }
  
  .titleContainer {
    background-color: #ffffff;
    opacity: 0.9;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0px 4px 10px #0000001a;
  }
  
  .title {
    font-size: 48px;
    color: #000000;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #0000001a;
  }
  
  h1 {
    margin: 0;
  }
  
  .filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: 0 2px 6px #0000001a;
    top: 0;
    z-index: 1;
    height: 200px;
  }
  
  .filterOption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .filterTitle {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .selectContainer {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .filterLabel {
    font-size: 16px;
    margin-right: 10px;
    white-space: nowrap;
  }
  
  .filterSelect {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .filterSelect:hover {
    border-color: #C70039;
  }
  
  .filterSelect:focus {
    outline: none;
    border-color: #900C3E;
    box-shadow: 0 0 0 2px #ee563475;
  }
  
  .reloadButton {
    padding: 7px 10px;
    font-size: 13px;
    background-color: #900C3E;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s;
    transition: transform 0.3s;
  }
  
  .reloadButton:hover {
    background-color: #571845;
    transform: scale(1.1);
  }